/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%;}

body {
  background-color: #FFF;

  font: 13.34px Helvetica Neue, Arial, sans-serif;
  font-size: small;
  text-align: center;
}



h1.title {
  font-size: 250%; 
  line-height: 1em;
  margin: 0;
}

h1 {
  font-size: 200%; 
  font-style: italic;
  margin-top: 2em;
}

h2 {
  font-size: 150%; 
  font-style: italic;
  margin-top: 2em;
}

h3, h4, h5, h6 {
  font-size: 100%; 
  font-style: italic;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.post_group {
  display: inline;
  float: left;  
  margin: 0 3em;
  margin-bottom: 3em; 
}

.post_group ul {
  padding-left: 1em;
  margin-top: 1em;
}

.post_date {
  text-align: right;
  font-size: 80%;
  font-style: italic;
}

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 42em;
  margin: 3em auto 2em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5em;
}

.post {
  margin-bottom: 3em;
}


.header {
  text-align: justify;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}


.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  clear: left;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.twitter-share-button { width: 80px !important; }
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post div {
  /*border: 1px solid #ddd;*/
  background-color: #fff;
  padding: 0 .4em;
}

div.highlight {
  overflow-x:scroll;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post .highlight code {
  background-color: #fff;
}

.post code {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  border-radius: 2px;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

blockquote {
  font-family: Georgia, serif;
  /*font-size: 18px;*/
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 30px;
  line-height: 1.45;
  position: relative;
  /*color: #383838;*/
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}
