<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name | append: " : " | append: page.title }}</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="keywords" content="ReactiveCocoa, FRP, iOS, MVVM, rcdp">
        <meta name="author" content="Sergey Gavrilyuk">
        <meta name="description" content="Blog related to ReactiveCocoa design patterns: best practices, hidden gems.">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-49473365-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
    </head>
    <body>

        <div class="site">
	      <div class="header">
	        <h1 class="title"><a href="{{ site.url }}/">{{ site.name }}</a>
	        	<span style="visibility:hidden; line-height:1px; display:inline-block;"> Tweak a single line into justifying </span>
	        </h1>
	        <!-- <a class="extra" href="/">home</a> -->
	      </div>

	      {{ content }}

			<div class="footer">
				Created by Sergey Gavrilyuk <a class="extra" href="https://twitter.com/octogavrix">@octogavrix</a>
			</div>
		</div>
    </body>
</html>
